<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue sur le Job Board de l'ENSIIE, <%= @user.prenom %></h1>
    <p>
      Votre demande d'inscription a bien été pris en compte. Vous êtes à deux doigts de pouvoir vous connecter sur notre site web,
      reste qu'un administrateur doit encore valider votre compte.
    </p>
    <p>A très bientôt peut être et bonne journée!</p>
  </body>
</html>