<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Vous avez reçu une demande d'inscription de la part d'un nouvel utilisateur.<br>
    </p>
  </body>
</html>